﻿body {
}
.form {


    margin-top:80px ;

}
.containerFoot {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    position:fixed;
    bottom: 0px;
    
    width: 100%;
    height: 80px;
    line-height: 60px;
    background-color: #f5f5f5;
}